
@{
    ViewBag.Title = "SalaryCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#names').autocomplete({

            source: '/Employee/Search',
            select: function (event, ui) {
               // alert("select" + ui.item.label);
                window.location = "/EmployeeSalary/SelectEmployee/" + ui.item.label;
            }
        });

    });

</script>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Employee Salary</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">

    <div class="col-sm-4">
        <input type="text" id="names" class="form-control" placeholder="Enter Name or phone" />
    </div>
</div><br />
<div>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info btn-large" })
</div>

