
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2 style="color:#003399;">WELCOME</h2>
Welcome to online hostel management system.<br />
Just click <a href="~/Member/SignUp" class="btn btn-info" role="button">Sign Up</a> and access your account.<br />
Life will become easy and faster.<br />

